/* responsive five panel layout */
/* https://jsfiddle.net/Neoheurist/ds2unbof/ */

*
{
    box-sizing:border-box
}

body
{
    margin-left:200px;                 /* pintle width */
    min-width:200px;
    margin-right:200px;                /* pilaster width */

    margin-top:3.0em;                  /* pediment height */
    margin-bottom:3.0em;               /* plinth height */

    overflow:hidden
}

#pediment,#plinth
{
    margin-left:-200px;                /* abutt the viewport leftside */
    padding-left:5px;
    padding-right:5px;
    margin-right:-200px;               /* abutt the viewport rightside */

    overflow:hidden
}

#pintle,#portcullis,#pilaster
{
    padding-top:0.5em;
    height:calc(100vh - 6em);          /* subtract the (pediment + plinth) height */
    padding-bottom:0.5em;

    overflow-y:auto
}

.panel
{
    position:relative;                 /* to the body */

    float:left
}

#pediment
{
    margin-top:-3.0em;                 /* abutt the viewport top */
    padding-top:0.5em;
    height:3.0em;
    padding-bottom:0.5em;

    background:#ccdbdf
}

#plinth
{
    padding-top:0.5em;
    height:3.0em;
    padding-bottom:0.5em;

    clear:both;

    background:#ccdbdf
}

#pintle
{
    margin-left:-200px;                /* abutt the viewport leftside */
    padding-left:5px;
    width:200px;
    padding-right:5px;

    background:#99adeb
}

#portcullis
{
    padding-left:5px;
    width:calc(100vw - 400px);         /* subtract the (pintle + pilaster) width */
    padding-right:5px;

    background:#c0c0c0
}

#pilaster
{
    padding-left:5px;
    width:200px;
    padding-right:5px;
    margin-right:-200px;               /* abutt the viewport rightside */

    background:#99adeb
}

@media screen and (max-width:600px)
{
    #portcullis
    {
        width:calc(100vw - 200px)    /* subtract the pintle width */
    }

    #pilaster
    {
        display:none
    }
}

@media screen and (max-width:400px)
{
    #portcullis
    {
        margin-left:-200px;           /* abutt the viewport leftside */
        width:100vw
    }

    #pintle
    {
        display:none
    }
}

@media screen and (max-height:21em)
{
    #pintle,#portcullis,#pilaster
    {
        height:calc(100vh - 3em)      /* subtract the pediment height */
    }

    #plinth
    {
        display:none
    }
}

@media screen and (max-height:15em)
{
    body
    {
        margin-top:0.0em
    }

    #pintle,#portcullis,#pilaster
    {
        height:100vh
    }

    #pediment
    {
        display:none
    }
}